body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  background-color: red;
  color: white;
  text-transform: uppercase;
}

.top-nav-logo {
  width: 220px;
  min-height: 47px;
  border-bottom: 2px solid darkred;

  background-color: red;
}

.top-nav-search {
  background-color: #293449;
}

.top-nav-search img {
  opacity: 0.3;
}

.top-nav-search input {
  background-color: #293449;
  color: white;
}

.user-nav {
  background-color: #f4f7f9;
  font-size: 21px;
}

.user-nav-slogan {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: red;
}

.user-nav-contacts {
  font-size: 14px;
}

.user-nav-phone {
  font-size: 21px;
  color: red;
}

.login-list li:first-child::before {
  content: url(../img/icon-login.svg);
  width: 20px;
  height: 15px;
  opacity: 0.3;
  margin-right: 10px;
}

.login-item,
.logout-item {
  list-style: none;
}

.login-button {
  background-color: #f4f7f9;
}

.logout-item img {
  opacity: 0.3;
}

.logout-button a:hover {
  opacity: 1.0;
}

.logout-button img:first-child:hover,
.logout-button img:last-child:hover {
  opacity: 1;
}

.user-link {
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-link:hover {
  color: red;
}

.site-nav {
  background-color: #32425c;
  color: white;
  font-size: 17px;
}

.site-nav-list {
  list-style: none;
}

.site-nav-item a:hover {
  text-decoration: underline;
}

.main-breadcrumbs-list {
  list-style-image: url(../img/icon-breadcrumbs-bullit.svg);
}

.main-breadcrumbs-item:first-child {
  list-style: none;
}

.main-body .header {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.main-about {
  background-color: white;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.main-section-filter .header,
.main-section-sorting .header {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  background-color: #f7f3ec;
}

.main-section-sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  list-style: none;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter-price,
.filter-producer,
.filter-power,
.sort-by {
  border: 0 none;
}

.filter-producer-list,
.filter-power-list,
.sort-by-list,
.sort-direction-list {
  list-style: none;
}

.filter-producer-item,
.filter-power-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  text-transform: uppercase;
}

.filter-button,
.slider-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
}

.sort-by-item a {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: dotted;
  color: black;
  opacity: 0.3;
}

.sort-by-item a.checked {
  text-decoration: none;
  color: red;
  opacity: 1.0;
}

.sort-direction-item:first-child::after {
  content: url(../img/icon-dir-up.svg);
  width: 11px;
  height: 10px;
}

.sort-direction-item:last-child::after {
  content: url(../img/icon-dir-down.svg);
  width: 11px;
  height: 10px;
}

.logistic-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.two-columns-section .header,
.main-about .header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.main-footer {
  background-color: #32425c;
  font-size: 18px;
  color: white;
}

.main-footer-logo {
  background-color: red;
  border-bottom: 3px solid darkred;
}

.main-footer ul {
  list-style: none;
}

.section-list {
  color: #ffd180;
}

.main-footer-link {
  text-decoration: none;
  color: #ffd180;
}

.main-footer li:hover,
.main-footer-link:hover {
  text-decoration: underline;
}

