body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  background-color: #DC143C;
  color: #FFF;
  text-transform: uppercase;
}

.button:hover {
  background-color: #CA2C37;
}

.button:active {
  background-color: #BA2732;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-nav {
  background-color: #293449;
  color: #FFF;
  font-size: 17px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 42px;
  border-bottom: 5px solid #F4F7F9;
}

.top-nav-logo {
  width: 220px;
  height: 42px;
  border-bottom: 5px solid #B22222;
  background-color: #DC143C;

  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 49px;
}

.top-nav-logo:hover {
  background-color: #CA2C37;
}

.top-nav-logo:active {
  background-color: #BA2732;
}

.top-nav-search {
  display: flex;
  justify-content: space-around;
  width: 270px;
  height: 42px;
  color: #FFF;

  text-align: center;
  vertical-align: middle;
  line-height: 42px;
}

.top-nav-search svg {
  opacity: 0.3;
  fill: #FFF;
  display: block;
  margin: auto;
}

.top-nav-search input {
  border: none;
  width: 200px;
  height: 42px;
  background-color: #293449;
  color: #FFF;
}

.top-nav-search:hover svg,
  opacity: 1.0;
}

.top-nav-search:hover input::placeholder {
  color: white;
}

.top-nav-search:focus,
.top-nav-search:focus input,
.top-nav-search:focus svg {
  color: #000;
  background-color: #FFF;
  opacity: 1.0;
  fill: #F00;
}

.top-nav-cart-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.top-nav-cart-item {
  display: inline-block;
  width: 150px;
  height: 42px;
  /*margin-left: 15px;*/
  text-align: center;
  vertical-align: middle;
  line-height: 42px;
}

.top-nav-cart-item svg {
  /*display: inline-block;*/
  margin-right: 5px;
  vertical-align: middle;
  fill: #FFF;
  opacity: 0.3;
}

.top-nav-cart-item:hover {
  background-color: #212A3A;
}

.top-nav-cart-item:hover svg {
  opacity: 1.0;
}

.top-nav-cart-item:active {
  background-color: #161d29;
  opacity: 0.6;
}

.top-nav-cart-item:last-child {
  background-color: #63A63E;
}

.top-nav-cart-item:last-child:hover {
  background-color: #5FBB2D;
}

.top-nav-cart-item:last-child:active {
  background-color: #518534;
  opacity: 0.5;
}

.user-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*width: 940px;*/
  min-height: 158px;
  background-color: #F4F7F9;
  font-size: 21px;
}

.user-nav-slogan {
  width: 196px;
  height: 60px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #F00;
}

.user-nav-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  font-size: 14px;
}

.user-nav-contacts p {
  margin: 0;
}

.user-nav-phone {
  font-size: 21px;
  text-align: center;
  color: #F00;
}

.login-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 281px;
  justify-content: space-between;
  align-items: center;
}

.login-list li {
  /*border: 1px solid black;*/
  padding: 14px 25px;
  background-color: #FFF
}

.login-list li:first-child {
  padding-left: 0px;
}

.login-list li:first-child::before {
  content: url(../img/icon-login.svg);
  width: 20px;
  height: 15px;
  margin: 14px;
  opacity: 0.2;
  margin-right: 10px;
}

.login-list li:first-child:hover::before {
  opacity: 1.0;
}

.login-item,
.logout-item {
  list-style: none;
}

.login-item:hover {
  color: #F00;
}

.login-item:active {
  color: #000;
  opacity: 0.3;
}

.logout-item img {
  opacity: 0.3;
}

.logout-item:hover img {
  opacity: 1.0;
}

.logout-button img:first-child:hover,
.logout-button img:last-child:hover {
  opacity: 1;
}

.user-link {
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.user-link:hover {
  color: #F00;
}

.site-nav {
  /*width: 940px;*/

  background-color: #32425C;
  color: #FFF;
  font-size: 17px;
}

.site-nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.site-nav-item:hover {
  background-color: #293449;
}

.site-nav-item:active {
  background-color: #1D2739;
  opacity: 0.5;
}

.main-breadcrumbs-list {
  list-style-image: url(../img/icon-breadcrumbs-bullit.svg);
}

.main-breadcrumbs-item:first-child {
  list-style: none;
}

.main-body .header {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.main-about {
  background-color: #FFF;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.main-section-filter .header,
.main-section-sorting .header {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  background-color: #F7F3EC;
}

.main-section-sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  list-style: none;
  text-transform: uppercase;
  background-color: #F7F3EC;
}

.features-slider {
  width:620px;
  height: 266px;
  background-color: #000;
  background-image: url(../img/slider-1.jpg);

  color: #FFF;
  font-size: 18px;
}

.features-slider p:first-child {
  font-size: 36px;
}

.filter-price,
.filter-producer,
.filter-power,
.sort-by {
  border: 0 none;
}

.filter-producer-list,
.filter-power-list,
.sort-by-list,
.sort-direction-list {
  list-style: none;
}

.filter-producer-item,
.filter-power-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  text-transform: uppercase;
}

.filter-price-range {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.filter-producer-header,
.filter-power-header,
.filter-price-header {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  background-color: inherit;
  text-transform: uppercase;
}

.filter-button,
.slider-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
}

.sort-by-item a {
  /*text-decoration: underline;*/
  /*text-decoration-color: #F00;*/
  /*text-decoration-style: dotted;*/
  border-bottom: 1px dotted #F00;
  color: #000;
  opacity: 0.3;
}

.sort-by-item a.checked {
  /*text-decoration: none;*/
  border-bottom: none;
  color: #F00;
  opacity: 1.0;
}

.sort-by-item:hover a {
  /*text-decoration: underline;*/
  /*text-decoration-color: #F00;*/
  /*text-decoration-style: solid;*/
  border-bottom: 1px solid #F00;
  color: #000;
  opacity: 1.0;
}

.sort-direction-item svg {
  fill: #000;
  opacity: 0.3;
}

.sort-direction-item a.checked svg {
  fill: #F00;
  opacity: 1.0;
}

.sort-direction-item svg:hover,
.sort-direction-item a.checked svg:hover {
  fill: #000;
  opacity: 1.0;
}

.catalog-section {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
}

.catalog-section .header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  background-color: #F9F5F0;
}
.catalog-list {
  list-style: none;
}

.catalog-item {
  font-weight: 700;
}

.item-header {
  font-size: 18px;
}

.item-price-promo {
  color: #999999;
  text-decoration: line-through;
}

.item-price-regular {
  color: #FFF;
  background-color: #DC143C;
}

.catalog-page-button {
  font-size: 13px;
  text-transform: uppercase;
}

.categories-card,
.features-card {
  font-size: 24px;
  color: #FFF;
}

div.categories-card:nth-of-type(1) {
  background-color: #FFBF47;
}

div.categories-card:nth-of-type(2) {
  background-color: #3BBCE3;
}

div.categories-card:nth-of-type(3) {
  background-color: #DC91D8;
}

.features-card {
  background-color: black;
}

.features-card:first-child {
  background-color: #8ED78F;
}

.features-card:last-child {
  background-color: #FFC047;
}

.categories-card .card-label,
.features-card .card-label {
  font-size: 14px;
  text-transform: uppercase;
}

.categories-card .new-flag {
  font-size: 17px;
  text-transform: lowercase;
}

.logistic-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
}

.two-columns-section .header,
.main-about .header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.main-footer {
  background-color: #32425C;
  font-size: 18px;
  color: #FFF;
}

.main-footer-logo {
  background-color: #DC143C;
  border-bottom: 3px solid #B22222;
}

.main-footer ul {
  list-style: none;
}

.section-list {
  color: #FFD180;
}

.social-item:hover {
  background-color: #DC143C;
}

.main-footer .copyrights,
.main-footer .feedback,
.main-footer .developed-by {
  font-size: 16px;
}

.main-footer-link {
  text-decoration: none;
  color: #FFD180;
}

.main-footer li:hover,
.main-footer-link:hover {
  text-decoration: underline;
}

.main-footer li:active {
  text-decoration: none;
  opacity: 0.3;
}

.main-footer-link:active {
  text-decoration: none;
  color: #DC143C;
}
