body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: inline-block;

  height: 25px;
  padding: 13px;
  padding-top: 12px;
  padding-bottom: 2px;

  border-radius: 5px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #DC143C;
  color: #FFF;
  text-transform: uppercase;

  vertical-align: middle;
  text-align: center;
}

.button:hover {
  background-color: #CA2C37;
}

.button:active {
  background-color: #BA2732;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 60px;

  background-color: #F4F7F9;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 42px;
  border-bottom: 5px solid #F4F7F9;

  color: #FFF;
  background-color: #293449;
  font-size: 17px;
}

.top-nav-logo {
  display: block;

  width: 220px;
  height: 42px;
  border-bottom: 5px solid #B22222;

  text-align: center;
  vertical-align: middle;
  line-height: 49px;

  background-color: #DC143C;
}

.top-nav-logo:hover {
  background-color: #CA2C37;
}

.top-nav-logo:active {
  background-color: #BA2732;
}

.top-nav-search {
  display: flex;
  justify-content: space-around;

  width: 270px;
  height: 42px;

  color: #FFF;
  text-align: center;
  vertical-align: middle;
  line-height: 42px;
}

.top-nav-search svg {
  display: block;

  margin: auto;

  opacity: 0.3;
  fill: #FFF;
}

.top-nav-search input {
  border: none;
  width: 200px;
  height: 42px;
  background-color: #293449;
  color: #FFF;
}

.top-nav-search:focus,
.top-nav-search:focus input,
.top-nav-search:focus svg {
  color: #000;
  background-color: #FFF;
  opacity: 1.0;
  fill: #F00;
}

.top-nav-cart-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.top-nav-cart-item {
  display: inline-block;
  width: 150px;
  height: 42px;
  /*margin-left: 15px;*/
  text-align: center;
  vertical-align: middle;
  line-height: 42px;
}

.top-nav-cart-item svg {
  /*display: inline-block;*/
  margin-right: 5px;
  vertical-align: middle;
  fill: #FFF;
  opacity: 0.3;
}

.top-nav-cart-item:hover {
  background-color: #212A3A;
}

.top-nav-cart-item:hover svg {
  opacity: 1.0;
}

.top-nav-cart-item:active {
  background-color: #161d29;
  opacity: 0.6;
}

.top-nav-cart-item:last-child {
  background-color: #63A63E;
}

.top-nav-cart-item:last-child:hover {
  background-color: #5FBB2D;
}

.top-nav-cart-item:last-child:active {
  background-color: #518534;
  opacity: 0.5;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 158px;
  background-color: #F4F7F9;
  font-size: 21px;
}

.user-nav-slogan {
  margin-left: 53px;
  width: 196px;
  height: 60px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #F00;
}

.user-nav-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  font-size: 14px;
}

.user-nav-contacts p {
  margin: 0;
}

.user-nav-phone {
  font-size: 21px;
  text-align: center;
  color: #F00;
}

.login-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 281px;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.login-list li {
  padding: 14px 25px;
  background-color: #FFF
}

.login-list li:first-child {
  padding-left: 0;
}

.login-list li:first-child::before {
  content: url(../img/icon-login.svg);
  width: 20px;
  height: 15px;
  margin: 14px;
  opacity: 0.2;
  margin-right: 10px;
}

.login-list li:first-child:hover::before {
  opacity: 1.0;
}

.login-item,
.logout-item {
  list-style: none;
}

.login-item:hover {
  color: #F00;
}

.login-item:active {
  color: #000;
  opacity: 0.3;
}

.logout-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 70px;
  width: 299px;
}

.logout-item:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  background-color: #FFF;
}

.logout-item img {
  opacity: 0.3;
}

.logout-item:hover img {
  opacity: 1.0;
}

.logout-item:not(:first-child) {
  margin-left: 20px;
}

.logout-item:last-child {
  position: relative;
}

.logout-item:last-child::before {
  position: absolute;
  top: 12px;
  left: -12px;

  content: "";
  display: block;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}

.logout-button img:first-child:hover,
.logout-button img:last-child:hover {
  opacity: 1;
}

.user-link {
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.user-link:hover {
  color: #F00;
}

.site-nav {
  background-color: #32425C;
  color: #FFF;
  font-size: 17px;
}

.site-nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.site-nav-item:hover {
  background-color: #293449;
}

.site-nav-item:active {
  background-color: #1D2739;
  opacity: 0.5;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 10px 0;

  list-style-image: url(../img/icon-breadcrumbs-bullit.svg);
}

.breadcrumbs-item {
  margin-right: 20px;
}

.breadcrumbs-item:first-child {
  list-style: none;
  margin-left: 0;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.main-body .header {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-header {
  display: block;
  height: 20px;
  margin: 0;
  padding: 30px;

  background-color: #F4F7F9;
}

.inner-content {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.inner-content fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.left-side-content {
  display: block;
  width: 220px;
  margin-right: 20px;
}

.right-side-content {
  display: block;

  margin-right: 0;
}

.main-about {
  background-color: #FFF;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
}

.main-section-filter .header,
.main-section-sorting .header {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #F7F3EC;
}

.main-section-filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-section-filter .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 205px;
  margin-bottom: 20px;

  min-height: 38px;
  padding-left: 15px;
  border-radius: 3px;
}

.main-section-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 21px;
  padding: 0 15px;
  min-height: 38px;
  border-radius: 3px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  list-style: none;
  text-transform: uppercase;
  background-color: #F7F3EC;
}

.filter-price,
.filter-producer,
.filter-power {
  border: 0 none;
}

.filter-producer-list,
.filter-power-list,
.sort-by-list,
.sort-direction-list {
  list-style: none;
}

.filter-producer-item,
.filter-power-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  text-transform: uppercase;
}

.filter-price-range {
  display: flex;
  justify-content: space-between;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.filter-price-range input {
  position: relative;

  width: 95px;
  height: 38px;
  text-align: center;

  border: none;
  border-radius: 3px;
  padding: 0;

  background-color: #F7F3EC;
}

.filter-producer-header,
.filter-power-header,
.filter-price-header {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  background-color: inherit;
  text-transform: uppercase;
}

.filter-button,
.slider-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-by {
  display: flex;
  justify-content: space-between;
  align-items: inherit;

  width: 443px;
}

.sort-by-list {
  display: flex;
  justify-content: space-between;
  align-items: inherit;

  width: 354px;
  margin: 0;
  padding: 0;

  line-height: 18px;
}

.sort-direction-list {
  display: flex;
  justify-content: space-between;
  align-items: inherit;

  width: 43px;
  margin: 0;
  padding: 0;
  margin-right: 2px;

  line-height: 18px;
}

.sort-by-item,
.sort-direction-item {
}

.sort-by-item a {
  /*text-decoration: underline;*/
  /*text-decoration-color: #F00;*/
  /*text-decoration-style: dotted;*/
  border-bottom: 1px dotted #F00;
  color: #000;
  opacity: 0.3;
}

.sort-by-item a.checked {
  /*text-decoration: none;*/
  border-bottom: none;
  color: #F00;
  opacity: 1.0;
}

.sort-by-item:hover a {
  /*text-decoration: underline;*/
  /*text-decoration-color: #F00;*/
  /*text-decoration-style: solid;*/
  border-bottom: 1px solid #F00;
  color: #000;
  opacity: 1.0;
}

.sort-direction-item svg {
  fill: #000;
  opacity: 0.3;
}

.sort-direction-item a.checked svg {
  fill: #F00;
  opacity: 1.0;
}

.sort-direction-item svg:hover,
.sort-direction-item a.checked svg:hover {
  fill: #000;
  opacity: 1.0;
}

.catalog-section {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
}

.catalog-section .header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  background-color: #F9F5F0;
}
.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 220px;
  height: 318px;

  margin-bottom: 21px;
  border: solid 1px #E5E5E5;

  font-weight: 700;
  text-align: center;
}

.catalog-item img {
   width: 100%;
   height: auto;
 }

.catalog-item figure {
  margin: 0;
  padding: 0;
}

.item-header {
  /*margin-bottom: 15px;*/
  padding: 0 20px;
  font-size: 18px;
  line-height: 20px;
}

.item-price-promo {
  min-height: 20px;
  /*margin-bottom: 10px;*/

  color: #999999;
  text-decoration: line-through;
  line-height: 22px;
}

.item-price-regular {
  position: relative;

  width: 80px;
  margin: 0 auto 20px;
  padding: 9px 30px;

  color: #FFF;

  background: #EE3643;
  border-radius: 3px;
  line-height: 22px;
}

.item-price-regular:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid #FFF;
  border-left-color: #EE3643;
}

.catalog-item.new:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;

  width: 60px;
  height: 60px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #FFF;
}

.actions .item-button-buy,
.actions .item-button-save {
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;

  font-size: 14px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #63A63E;
  border-radius: 3px;
}

.actions .item-button-buy {
  box-shadow: 0 -3px 0 #367315 inset;
}

.actions .item-button-save {
  width: 129px;
  padding: 7px 0;

  color: #63A63E;

  background-color: #FFF;
  border: 3px solid #63A63E;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .title {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;

  font-size: 18px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-bottom: 10px;

  color: #999999;
  text-decoration: line-through;
}

.page-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-bottom: 60px;

  font-size: 13px;
  text-transform: uppercase;
  line-height: 18px;
  list-style: none;
}

.page-item a,
.page-item.current {
  display: inline-block;

  padding: 10px 14px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;

  color: #000;
  vertical-align: top;
}

.page-item:not(:last-of-type) {
  margin-right: 10px;
}

.page-item:last-of-type a {
  padding: 10px 30px;
}

.page-item.current {
  color: #FFF;
  background-color: #EE3643;
}

.page-item a:hover,
.page-item a:focus {
  border: 1px solid #BDC6CA;
  outline: none;
}

.page-item a:active {
  color: #000;
  border: 1px solid #EE3643;
}

.section-about {
  padding: 40px 0 55px;

  background-color: #F4F7F9;
}

.section-about p {
  font-size: 13px;
  line-height: 24px;
}

.categories,
.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  width: 300px;
  height: 123px;

  margin-bottom: 20px;
}

.card p {
  margin: 0;
}

.features-section {
  font-size: 24px;
  color: #FFF;
}

.features-slider {
  width:620px;
  height: 266px;
  order: -1;
  background-color: #000;
  background-image: url(../img/slider-1.jpg);

  color: #FFF;
  font-size: 18px;
}

.features-slider p:first-child {
  font-size: 36px;
}

.category-material {
  background-color: #FFBF47;
}

.category-tools {
  background-color: #3BBCE3;
}

.category-tech {
  background-color: #DC91D8;
}

.feature-sales {
  background-color: #8ED78F;
}

.feature-delivery {
  background-color: #FFC047;
}

.card .card-label {
  font-size: 14px;
  text-transform: uppercase;
}

.card .new-flag {
  font-size: 17px;
  text-transform: lowercase;
}

.popular-header,
.producer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  background-color: #F9F5F0;
}

.producer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  list-style: none;
  padding: 0;
}

.producer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  width: 220px;
  height: 145px;

  border: solid 1px #EAEAEA;
}

.producer-item img {
  margin: auto;
}

.service-section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 68px;

  background-color: #F4F7F9;
}

.service-about {
  flex-basis: 100%;
}

.service-about p {
  width: 398px;
  min-height: 37px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.service-section .flex-wrapper {
  display: flex;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-list a {
  display: block;
  width: 240px;
  height: 20px;
  padding: 21px;
  padding-left: 23px;

  font-size: 21px;
  font-weight: 700;
  background-color: #32425C;
  color: #FFF;
}

.service-list a.checked {
  background-color: #FFF;
  color: #000;
}

.service-delivery {
  width: 700px;
  min-height: 282px ;
  margin-left: 80px;

  background-image: url("../img/service-delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.service-delivery p {
  width: 275px;
  height: 83px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.logistic-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
  margin-bottom: 86px;
}

.main-about {
  width: 519px;
}

.main-contacts {
  width: 300px;
}

.index-columns .header,
.main-about .header {
  margin-top: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.main-footer {
  background-color: #32425C;
  font-size: 18px;
  color: #FFF;
}

.main-footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  background-color: #DC143C;
  box-shadow: 0 -3px 0 0 #B22222 inset;

  text-align: center;
  vertical-align: middle;
  line-height: 73px;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.first-line {
  display: flex;
  justify-content: space-between;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 547px;
}

.about-item {
  display: inline-block;
  height: 28px;
}

.second-line {
  margin-top: 32px;
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
}

.main-footer-contacts {
  margin: 0;
  padding: 0;
  width: 322px;
  min-height: 40px;
}

.section-list {
  width: 527px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  color: #FFD180;
}

.section-item {
  display: inline-block;
  height: 48px;
}

.bottom-line {
  background-color: #293449;
}

.bottom-line p {
  margin: 0;
}

.bottom-line .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 33px;
  padding-bottom: 35px;
  padding-top: 39px;

  font-size: 16px;
  line-height: 18px;
}

.bottom-line .copyrights {
  width: 228px;
  min-height: 33px;
  margin-right: 161px;
}

.bottom-line p:not(:first-child) {
  width: 132px;
  min-height: 32px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #212A3A;
  border-radius: 50%;
}

.social-item:hover {
  background-color: #DC143C;
}

.bottom-line .link-container {
  display: flex;
  justify-content: space-between;
  width: 324px;
  margin-left: 119px;
}

.main-footer .copyrights,
.main-footer .feedback,
.main-footer .developed-by {
  font-size: 16px;
}

.main-footer-link {
  text-decoration: none;
  color: #FFD180;
}

.main-footer li:hover,
.main-footer-link:hover {
  text-decoration: underline;
}

.main-footer li:active {
  text-decoration: none;
  opacity: 0.3;
}

.main-footer-link:active {
  text-decoration: none;
  color: #DC143C;
}

.modal {
  position: fixed;

  color: #000;
  font-size: 18px;
  line-height: 18px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 21px;
  height: 21px;
  border: none;

  background-image: url("../img/form-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;

  cursor: pointer;
}

.modal-add-basket {
  display: block;
  top: 120px;
  left: 50%;

  margin-left: -310px;

  width: 620px;
  /*height: 394px;*/
  background-color: #FFF;
  box-shadow:
    0 7px 0 0 #FF5256 inset,
    0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-feedback {
  display: none;
  top: 120px;
  left: 50%;

  margin-left: -310px;

  width: 620px;
  /*height: 430px;*/
  background-color: #FFF;
  box-shadow:
    0 7px 0 0 #FF5256 inset,
    0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-feedback fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.modal-feedback-top,
.modal-add-basket-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding: 45px 80px;
}

.modal-feedback-bottom,
.modal-add-basket-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  width: 100%;
  height: 112px;
  padding: 37px 80px;

  background-color: #F4F4F4;
}

.modal-feedback p,
.modal-add-basket p {
  margin: 0;
}

.modal-add-basket .button {
  width: 220px;
}

.modal-feedback p:first-child,
.modal-add-basket .button:first-child {
  margin-right: 20px;
}

.modal-add-basket p {
  margin-left: 32px;

  font-size: 30px;
}

.modal-feedback-top p:not(:last-child) {
  width: 220px;
}

.modal-feedback-top p:last-child {
  width: 460px;
  margin-top: 23px;
}

.modal-feedback label {
  display: block;

  margin-bottom: 13px;

  font-size: 18px;
  line-height: 18px;
}

.modal-feedback input[type="email"],
.modal-feedback input[type="text"] {
  box-sizing: border-box;

  width: 100%;
  padding: 10px 14px;
  border: 2px solid #DEE3E4;
  border-radius: 4px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
}

.modal-feedback input[type=submit] {
  height: 38px;
  width: 100%;

  padding: 9px 13px;
}

.modal-feedback textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 12px 14px;

  border: 2px solid #DEE3E4;
  border-radius: 4px;

  resize: none;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
}

.modal-map {
  display: none;
  top: 120px;
  left: 50%;

  margin-left: -470px;

  width: 940px;
  height: 446px;

  box-shadow:
    0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-map img {
  /*display: none;*/
}

.modal-show {
  display: block;
}
